
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    min-width: 300px;
}

/* =======Typography========== */

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #B7B7B7;
}

/* =======Layout========== */


.container {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;

    /* background-color: aqua; */
}

header {
    padding: 1em 0;
}

.user-picture {
    width: 100%;
    height: 77vh;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 15px;
    background-image: url(./images/dog-teddy.jpg) ;
    background-position: center center;
    background-size: cover;
    
}

.user-picture {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 0.6em;
}

/* =======Navigation========== */

.nav-container  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-icon,
.chat-icon {
    width: 2em;
}

.logo-icon {
    width: 5em;
}

/* =======Main========== */

.user-name-and-age {
    display: flex;
    padding: 0 0 0 0.800em;
}

.user-bio {
    padding: 0 0 1em 0.800em;
}

.user-container {
    position: relative;
}

.like-badge,
.nope-badge {
position: absolute;
top: 5%;
left: 0;
bottom: 90%;
transform: rotate(338deg);
display: none;
}

.like-badge img,
.nope-badge img {
    width: 150px;
}

/* =======Buttons========== */

button {
    display: flex; 
    align-items: center;
    border-radius: 50%;
    padding: 1em;
    border-style: none;
    cursor: pointer;
    background-color: #ffff;
    box-shadow: 0 0 20px rgb(219, 217, 217);
}

button img {
    height: 30px;
}

.reject-button:hover,
.reject-button:focus {
    background-color: #FFE7EF;
}

.accept-button:hover,
.accept-button:focus{
    background-color: #DBFFF4;
}

.reject-button:active {
    background-color: #f9d2df
}

.accept-button:active {
    background-color: #bff8e7;
}

